@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:700');
@import url('https://fonts.googleapis.com/css?family=Lato:400');
@import url('https://fonts.googleapis.com/css?family=Lato:500');
@import url('https://fonts.googleapis.com/css?family=Lato:600');
@import url('https://fonts.googleapis.com/css?family=Lato:700');
@import url('https://fonts.googleapis.com/css?family=Lato:800');
@import url('https://fonts.googleapis.com/css?family=Lato:900');

*
{
    margin: 0;
    padding: 0;
}

.technology_pattern
{
    position: absolute;
    width: 1920px;
    left: -334px;
    opacity: .8;
    z-index: -1;
}

.technology_transparent
{
    opacity: 0.9;
    max-width: 1920px;
    //background: rgb(30,30,255);
    text-align: center;
    max-width: 100%;
}

/*--    one    --*/
.carousel_container_one
{
    max-width: 1920px;
    height: 880px;
    background: url(../images/background_one.png) no-repeat;
}

.carousel_сell_one
{
    text-align: center;
    padding-top: 275px;
}

.carousel_caption_one
{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 76px;
    color: rgb(255,255,255);
    text-align: center;
    letter-spacing: 6px;
}

.carousel_text_one
{
    margin: -2px auto 0;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: rgb(255,255,255);
}

.button_top_one
{
    margin-top: 57px;
    padding-top: 25px;
    width: 295px;
    height: 65px;
    background: rgb(0,188,156);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: rgb(255,255,255);
    letter-spacing: 1px;
    border-radius: 4px;
}

/*    two    */
.carousel_container_two
{
    max-width: 1920px;
    height: 880px;
    background: url(../images/background_two.png) no-repeat;
}

.carousel_cell_two
{
    text-align: right;
    padding: 240px 45px 0 20px;
}

.carousel_caption_two
{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 76px;
    line-height: 88px;
    color: rgb(255,255,255);
    letter-spacing: 6px;
}

.carousel_text_two
{
    margin: 14px auto 0;
    padding-left: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: rgb(255,255,255);
}

.button_top_two
{
    margin-top: 57px;
    padding-top: 25px;
    width: 295px;
    height: 65px;
    background: rgb(0,188,156);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: rgb(255,255,255);
    letter-spacing: 1px;
    border-radius: 4px;
}

/*        three        */

.carousel_container_three
{
    max-width: 1920px;
    height: 880px;
    background: url(../images/background_three.png) no-repeat;
}

.carousel_сell_three
{
    text-align: left;
    padding: 201px 20px 0 40px;
}


.carousel_caption_three
{
    display: inline;
    margin-left: -5px;
    background: rgb(80,106,133);
    padding: 20px 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 70px;
    line-height: 130px;
    color: rgb(255,255,255);
    letter-spacing: 6px;
}

.carousel_text_three
{
    margin: 28px auto 0;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: rgb(80,106,133);
}

.button_top_three
{
    margin-top: 57px;
    padding-top: 25px;
    width: 295px;
    height: 65px;
    background: rgb(0,188,156);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: rgb(255,255,255);
    letter-spacing: 1px;
    border-radius: 4px;
}

/*        four        */
.carousel_container_four
{
    max-width: 1920px;
    height: 880px;
    background: url(../images/background_four.png) no-repeat;
}

.carousel_сell_four
{
    text-align: right;
    padding: 82px 35px 0 20px;
}

.carousel_caption_four
{
    display: inline;
    margin-left: -5px;
    background: rgb(80,106,133);
    padding: 20px 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 70px;
    line-height: 130px;
    color: rgb(255,255,255);
    letter-spacing: 6px;
}

.carousel_text_four
{
    margin: 28px auto 0;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: rgb(255,255,255);
}

.button_top_four
{
    margin-top: 55px;
    padding-top: 23px;
    width: 295px;
    height: 65px;
    background: rgb(0,188,156);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: rgb(255,255,255);
    letter-spacing: 1px;
    border-radius: 4px;
}

/*        font        */
.carousel_container_five
{
    max-width: 1920px;
    height: 880px;
    background: url(../images/background_five.png) no-repeat;
}

.carousel_сell_five
{
    text-align: center;
    padding-top: 78px;
}

.carousel_caption_five
{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 76px;
    color: rgb(255,255,255);
    text-align: center;
    letter-spacing: 6px;
    line-height: 90px;
}

.carousel_text_five
{
    margin: -2px auto 0;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: rgb(255,255,255);
}

.button_top_five
{
    margin-top: 64px;
    padding-top: 25px;
    width: 295px;
    height: 65px;
    background: rgb(0,188,156);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: rgb(255,255,255);
    letter-spacing: 1px;
    border-radius: 4px;
}

/*        МЕДИА ЗАПРОСЫ        */
@media (max-width: 1100px)
{
    .carousel_сell_one,
    .carousel_cell_two,
    .carousel_сell_three,
    .carousel_сell_four,
    .carousel_сell_five
    {
        padding-top: 100px;
    }
}

@media (max-width: 900px)
{
    .carousel_caption_one,
    .carousel_caption_two,
    .carousel_caption_three,
    .carousel_caption_four,
    .carousel_caption_five
    {
        font-size: 60px;
        line-height: 117px;
    }
}

@media (max-width: 700px)
{
    .carousel_caption_one,
    .carousel_caption_two,
    .carousel_caption_three,
    .carousel_caption_four,
    .carousel_caption_five
    {
        font-size: 50px;
        line-height: 105px;
    }
}

@media (max-width: 440px)
{
    .carousel_сell_one,
    .carousel_cell_two,
    .carousel_сell_three,
    .carousel_сell_four,
    .carousel_сell_five
    {
        padding-top: 50px;
    }
    .carousel_caption_one,
    .carousel_caption_two,
    .carousel_caption_three,
    .carousel_caption_four,
    .carousel_caption_five
    {
        font-size: 30px;
        line-height: 80px;
    }
    .button_top_one,
    .button_top_two,
    .button_top_three,
    .button_top_four,
    .button_top_five
    {
    width: 220px;
    }
}